<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="Circular Std Font.otf" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="main">
      <div class="amain">
        <img src="/img/eco.png" alt="" class="name" />
        <a class="tc" href="">Token & Carbon</a>
        <a class="ec" href="">Home/About</a>
        <button class="jw"><a class="log" href="/user-signin">Log in</a></button>
        <button class="ab"><a class="sign" href="/user-register">Sign up</a></button>
        <img src="/img/mainfrontpage 1.png" alt="" class="bigpic" />
        <h2 class="ach">Achieve Your Net-Zero Emissions on-chain</h2>
        <h4 class="bpc">Blockchain powered climate solutions</h4>
        <button class="js"><a class="bet" href="">Buy Eco-token</a></button>
      </div>
      <div class="bmain">
        <h2 class="get">Get to know Eco-cred</h2>
        <h4 class="gtext">
          Thousands of corporations are using carbon offsets to help achieve
          their net zero goals. Check out our resources on Knowcarbon to learn
          more about offsetting and the voluntary carbon market.
        </h4>
        <p class="line"></p>
        <h2 class="tran">
          Transition to the new green economy<br />with Eco-cred
        </h2>
        <h4 class="ttext">
          Climate change is a huge problem in our world today. In order to
          mitigate the long term effects of this crisis, our collective effort
          would be very improtant and neccessary. This implies changing the way
          we live and run our economies. Eco-cred solution to the climate crisis
          is providing the neccessary resources for this new economy solutions
          and directing demand to these new solutions to reach net-zero by 2050
        </h4>
      </div>
      <div class="cmain">
        <h2 class="part">Partnership</h2>
        <h4 class="ptext">
          Partner with US to bringing your carbon credits to an on-chain trading
          system
        </h4>
        <button class="asas"><a class="asa" href="/user-register">As a supplier</a></button>
      </div>
      <div class="dmain">
        <h2 class="csp">Credit supply partnerships</h2>
        <h4 class="ctext">
          Eco-cred aims to be at the forefront of the new green economy through
          voulantery carbon credit by making the carbon trading market
          transparent, democratize and with liquidity with blockchain
          technology.
        </h4>
        <button class="join"><a class="joinn" href="/green-project-register">join now</a></button>
      </div>
      <div class="emain">
        <h3 class="cfc">criteria for credits</h3>
        <p class="arec"></p>
        <p class="brec"></p>
        <p class="crec"></p>
        <h3 class="reg">Registry</h3>
        <h3 class="pp">Project prospect</h3>
        <h3 class="met">Methodology</h3>
        <h4 class="regg">
          All supply partners must have a registry account with Verra, Climate
          Action Reserve, Gold Standard or American Carbon Registry.
        </h4>
        <h4 class="ppt">
          We accept for projects with a consinderable amount of bussiness
          scalability and market share over a period of 5 years minimum
        </h4>
        <h4 class="mett">
          We currently accept technological based offset or zero projects
        </h4>
        <h2 class="tmp">Tokenization and Market Process</h2>
        <img src="/img/Group 30.png" alt="" class="last" />
        <p class="rect"></p>
        <h4 class="ho">Home</h4>
        <h4 class="abo">About</h4>
        <h4 class="sol">Solution</h4>
        <h4 class="mov">Movement</h4>
        <p class="line"></p>
        <img class="lastt" src="/img/Group32.png" alt="" />
      </div>
    </div>
  </body>
</html>
