<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/user-signup.css" />
    <link rel="stylesheet" href="Circular Std Font.otf" />
  </head>

  <body>
    <div class="main">
      <img class="name" src="/img/eco.png" alt="" />
      <div class="boxb">
        <h2 class="sign">Project Sign Up</h2>

        <form method="post" action="/green-project-register">
          <div class="inputA">
            <label for="fullname">Project Name</label>
            <input type="text" name="project_name" id="" />
          </div>
          <div class="inputB">
            <label for="fullname">Project Email</label>
            <input type="email" name="email" id="" />
          </div>
          <div class="inputC">
            <label for="fullname">Admin Name</label>
            <input type="text" name="admin_name" id="" />
          </div>
          <div class="inputE">
            <label for="fullname">Admin Email</label>
            <input type="email" name="admin_email" id="" />
          </div>
          <div class="inputF">
            <label for="fullname">Project Description</label>
            <input type="text" name="about_your_project" id="" />
          </div>
          <div class="inputD">
            <label for="password">Password</label>
            <input type="password" name="password" id="" />
          </div>
          <button type="submit" class="jwb">PROCEED</button>
        </form>
      </div>
      
    </div>
  </body>
</html>
