<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/partnership.css">
    <link rel="stylesheet" href="Circular Std Font.otf">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main">
        <img class="name" src="eco.png" alt="">
        <a class="tc" href="">Token & Carbon</a>
        <a class="pt" href="">partnersip</a>
        <a class="ec" href="">Eco-nomics</a>
        <a class="ab" href="">About</a>
        <button class="jw"><a class="log" href="">Log in</a></button>
        <h2 class="da">Dashboard</h1>
            <p class="arec">
                <h2 class="ano">332<br>ECT</h2>
            </p>
            <p class="brec">
                <h2 class="bno">332<br>ECT</h2>
            </p>
            <p class="crec">
                <h2 class="cno">332<br>ECT</h2>
            </p>
            <p class="drec"><img src="dash.png" alt="" class="dash"></p>
            <button class="js"><a class="buy" href="">Buy</a></button>
            <button class="jb"><a class="sell" href="">Sell</a></button>
            <div class="bot">
            </div>
            <p class="rect"></p>
            <h4 class="ho">Home</h4>
            <h4 class="abo">About</h4>
            <h4 class="sol">Solution</h4>
            <h4 class="mov">Movement</h4>
            <p class="line"></p>
            <img class="lastt" src="Group32.png" alt="">

    </div>
</body>