<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/partnership.css" />
    <link rel="stylesheet" href="Circular Std Font.otf" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="main">
      
      <button class="jw"><a class="log" href="">Log in</a></button>
      <div class="jumbotron" style="background-color: #00CD44;">
        <h1 class="display-4">Congratulations!</h1>
        <p class="lead">You have successfully bought 1 ECOTOKEN</p>
        <hr class="my-4" />
      </div>
      <div class="bot"></div>
      <p class="rect"></p>
      <h4 class="ho">Home</h4>
      <h4 class="abo">About</h4>
      <h4 class="sol">Solution</h4>
      <h4 class="mov">Movement</h4>
      <p class="line"></p>
      <img class="lastt" src="/img/Group32.png" alt="" />
    </div>
  </body>
</html>
